:root {
    --ivory:      #FBFFF1;
    --vanilla:    #EAE2B7;
    --orange:     #F17F29;
    --green:      #6C7C59;
    --sienna:     #78290F;
    --charcoal:   #424C55;
    --blue:       #2F6690;
    --black:      #000000;
    --font:             'Arial', sans-serif;
}